#insert-card{
    margin: 4% 30%;
    padding: 2%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.23);
    /* background-image: url('images/background-insert.jpg');
    background-repeat: none;
    opacity: 0.8; */
    height: 635px;
    width: 500px;
    background-color: #f9f8f8;
}

.grid {
    margin: 20% 30%;
    padding: 2%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.23);
    /* background-image: url('images/background-insert.jpg');
    background-repeat: none;
    opacity: 0.8; */
    height: 455px;
    
    background-color: #f9f8f8;
}

.outer-grid {
    margin: 4% 5%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.23);
    /* background-image: url('images/background-insert.jpg');
    background-repeat: none;
    opacity: 0.8; */
    
    background-color: white;
}


.img {
    width: 100px;
}

.description {
    margin: 5% 0%;
}

.label {
    float: left;
    margin-right: 10px;
    width: 114px;
}

.title {
    color: lightcoral;
    padding: 2% 31%;
}

.header {
    color: lightcoral;
}

.card {
    height: 320px;
}
.img-main {
    height: 147px
}